<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
   Single Image with validations
  <div class="button" ngf-select ng-model="vm.fileToUpload" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">Select</div>
  <!-- <input id="file-input" type="file"  file-model="vm.fileToUpload"/>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    
    <p class="help-block">Example file info returned after api call.</p>
    <p class="help-block">Example file info returned after api call.</p>
  </div>
  <button class="btn btn-default" ng-click="vm.upload();">Upload</button> -->
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
</div>
<button class="btn btn-default" ng-click="vm.upload();">Upload</button>
<!-- <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div> -->
<!-- <file-upload-dir></file-upload-dir> -->
